<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <script src="/static/list.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="icon" href="{{url_for('static', filename='img/Logo.png')}}">
    <link rel="stylesheet" href="/static/styleList.css">
    <title>Lista Unica</title>
</head>
<body>
    <header>
        <a href="http://localhost:5001"><img src="{{url_for('static', filename='img/Logo.png')}}" class="logo"/></a>
            <nav class="menu">
            <ul>
                <li><a href="http://localhost:5001/">Cadastrar Item Menu</a></li>
                <li><a href="http://localhost:5001/list">Lista de Item Menu</a></li>
                <li><a href="http://localhost:5002/">Cadastrar Ordem de Compra</a></li>
                <li><a href="http://localhost:5002/list">Lista de Ordem de Compras</a></li>
                <li><a href="http://localhost:5000/">Cadastrar Produtos</a></li>
                <li><a href="http://localhost:5000/list">Lista de Produtos</a></li>
                <li><a href="http://localhost:5003/list">Lista do Estoque</a></li>
            </ul>
        </nav>
    </header>
    <hr>
    <p class="titulo">Lista Unica</p>
    <div class="container">
    <table>
        {% for item in datas %}
        <tr><td colspan="4" class="title">{{item[2]}}</td></tr>
        <tr><td> Nome </td><td>Tipo</td><td class="desc">Descrição</td><td>Preço</td></tr>
        <tr>
            <th>{{item[1]}}</th>
            <th>{{item[2]}}</th>
            <th>{{item[3]}}</th>
            <th class="desc">{{item[4]}}</th>
            <th><a href="/produto/{{item[0]}}"><button class="btn" id="btn-atualizar">Atualizar</button></a></th>
            <th><button onclick="funcao2('{{item[0]}}')" class="btn" id="btn-deletar">Deletar</button></th>
        </tr>
        {% endfor %}
    </table>
    </div>
    <p class="mensagem">{{mensagem}}</p>
</body>
</html>