<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/static/list.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/styleList.css">
    <link rel="icon" href="{{url_for('static', filename='img/Logo.png')}}">
    <title>Listar Produtos</title>
</head>
<body>
<header>
    <a href="http://localhost:5001"><img src="{{url_for('static', filename='img/Logo.png')}}" class="logo"/></a>
    <nav class="menu">
    <ul>
        <li><a href="http://localhost:5001/">Cadastrar Item Menu</a></li>
        <li><a href="http://localhost:5002/">Cadastrar Ordem de Compra</a></li>
        <li><a href="http://localhost:5002/list">Lista de Ordem de Compras</a></li>
        <li><a href="http://localhost:5000/">Cadastrar Produtos</a></li>
        <li><a href="http://localhost:5000/list">Lista de Produtos</a></li>
        <li><a href="http://localhost:5003/list">Lista do Estoque</a></li>
    </ul>
</nav>
</header>
<hr>
<p class="titulo">Lista Itens do Menu</p>
<div class="container">
    <table>
        <tr><td colspan="7" class="title"><b>Bebida</b></td></tr>
        <tr></tr><td align="center" class="nomeProduto"> Nome </td><td align="center">Tipo</td><td class="desc" align="center">Descrição</td><td colspan="3" style="padding-left: 35px;">Preço</td></tr>
        {% for item in datas1 %}
        <tr>
            <th>{{item[1]}}</th>
            <th>{{item[2]}}</th>
            <th class="desc">{{item[3]}}</th>
            <th>{{item[4]}}</th>
            <th><a href="/produto/{{item[0]}}"><button class="btn" id="btn-atualizar">Atualizar</button></a></th>
            <th><button onclick="funcao1('{{item[0]}}')" class="btn" id="btn-deletar">Deletar</button></th>
        </tr>
        {% endfor %}
    </table><br>
    <table>
        <tr><td colspan="6" class="title"><b>Drink</b></td></tr>
        <tr></tr><td align="center"> Nome </td><td align="center">Tipo</td><td class="desc" align="center">Descrição</td><td colspan="3" style="padding-left: 35px;">Preço</td></tr>
        {% for item in datas2 %}
        <tr>
            <th>{{item[1]}}</th>
            <th>{{item[2]}}</th>
            <th class="desc">{{item[3]}}</th>
            <th>{{item[4]}}</th>
            <th><a href="/produto/{{item[0]}}"><button class="btn" id="btn-atualizar">Atualizar</button></a></th>
            <th><button onclick="funcao1('{{item[0]}}')" class="btn" id="btn-deletar">Deletar</button></th>
        </tr>
        {% endfor %}
    </table><br>
    <table>
        <tr><td colspan="6" class="title"><b>Pizza</b></td></tr>
        <tr></tr><td align="center"> Nome </td><td align="center">Tipo</td><td class="desc" align="center">Descrição</td><td colspan="3" style="padding-left: 35px;">Preço</td></tr>
        {% for item in datas3 %}
        <tr>
            <th>{{item[1]}}</th>
            <th>{{item[2]}}</th>
            <th class="desc">{{item[3]}}</th>
            <th>{{item[4]}}</th>
            <th><a href="/produto/{{item[0]}}"><button class="btn" id="btn-atualizar">Atualizar</button></a></th>
            <th><button onclick="funcao1('{{item[0]}}')" class="btn" id="btn-deletar">Deletar</button></th>
        </tr>
        {% endfor %}
    </table><br>
    <table>
        <tr><td colspan="6" class="title"><b>Prato</b></td></tr>
        <tr></tr><td align="center"> Nome </td><td align="center">Tipo</td><td class="desc" align="center">Descrição</td><td colspan="3" style="padding-left: 35px;">Preço</td></tr>
        {% for item in datas4 %}
        <tr>
            <th>{{item[1]}}</th>
            <th>{{item[2]}}</th>
            <th class="desc">{{item[3]}}</th>
            <th>{{item[4]}}</th>
            <th><a href="/produto/{{item[0]}}"><button class="btn" id="btn-atualizar">Atualizar</button></a></th>
            <th><button onclick="funcao1('{{item[0]}}')" class="btn" id="btn-deletar">Deletar</button></th>
        </tr>
        {% endfor %}
    </table><br>
    <table>
        <tr><td colspan="6" class="title"><b>Sobremesa</b></td></tr>
        <tr></tr><td align="center"> Nome </td><td align="center">Tipo</td><td class="desc" align="center">Descrição</td><td colspan="3" style="padding-left: 35px;">Preço</td></tr>
        {% for item in datas5 %}
        <tr>
            <th>{{item[1]}}</th>
            <th>{{item[2]}}</th>
            <th class="desc">{{item[3]}}</th>
            <th>{{item[4]}}</th>
            <th><a href="/produto/{{item[0]}}"><button class="btn" id="btn-atualizar">Atualizar</button></a></th>
            <th><button onclick="funcao1('{{item[0]}}')" class="btn" id="btn-deletar">Deletar</button></th>
        </tr>
        {% endfor %}
    </table>
    </div>
    <p class="mensagem">{{mensagem}}</p>
</body>
</html>